
  <div class="jumbotron text-white bg-primary " style="margin-top: 50px;">
<h1 >Dashboard</h1>
    <h1 class="display-3">Hello, <%= user.name %>!</h1>
    <hr class="my-4">
    <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque, veniam expedita, quaerat, provident quis magnam at hic ipsam laborum nemo voluptatibus soluta accusantium vitae!
    </p>
    <p class="lead">
      <a href="snippet" class="btn btn-light">Snippets</a>
    </p>

    <p class="lead">
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </p>
  </div>